RewriteEngine On

# Services
RewriteRule ^services$ services.html [L]
RewriteRule ^services\.html$ /services [R=301,L]

# Contact
RewriteRule ^contact$ contact.html [L]
RewriteRule ^contact\.html$ /contact [R=301,L]

# Terms and Conditions
RewriteRule ^terms-and-conditions$ terms-and-conditions.html [L]
RewriteRule ^terms-and-conditions\.html$ /terms-and-conditions [R=301,L]

# Privacy Policy
RewriteRule ^privacy-policy$ privacy-policy.html [L]
RewriteRule ^privacy-policy\.html$ /privacy-policy [R=301,L]

# Blog
RewriteRule ^blog$ blog.html [L]
RewriteRule ^blog\.html$ /blog [R=301,L]

# Homepage redirect
RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]

#Individual blog pages specific
# BLOG POSTS: Redirect .html to clean URL
RewriteCond %{THE_REQUEST} \s/+blogs/([^\s]+)\.html [NC]
RewriteRule ^ /blogs/%1 [L,R=301]

# BLOG POSTS: Internally map clean URL to .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blogs/([^/]+)/?$ blogs/$1.html [L]

# BLOG POSTS: Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(blogs/.+)/$ /$1 [L,R=301]

# SERVICES: Redirect .html to clean URL
RewriteCond %{THE_REQUEST} \s/+services/([^\s]+)\.html [NC]
RewriteRule ^ /services/%1 [L,R=301]

# SERVICES: Internally map clean URL to .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^services/([^/]+)/?$ services/$1.html [L]

# SERVICES: Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(services/.+)/$ /$1 [L,R=301]
