RewriteEngine On

# Services
RewriteRule ^services$ services.html [L]
RewriteRule ^services\.html$ /services [R=301,L]

# Contact
RewriteRule ^contact$ contact.html [L]
RewriteRule ^contact\.html$ /contact [R=301,L]

# Terms and Conditions
RewriteRule ^terms-and-conditions$ terms-and-conditions.html [L]
RewriteRule ^terms-and-conditions\.html$ /terms-and-conditions [R=301,L]

# Privacy Policy
RewriteRule ^privacy-policy$ privacy-policy.html [L]
RewriteRule ^privacy-policy\.html$ /privacy-policy [R=301,L]
