RewriteEngine On

# Services
RewriteRule ^services$ services.html [L]
RewriteRule ^services\.html$ /services [R=301,L]

# Contact
RewriteRule ^contact$ contact-us.html [L]
RewriteRule ^contact-us\.html$ /contact [R=301,L]
